* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.copyright {
  font-size: 13px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  color: white;
  background-color: #7986cb;
}

.copyright p {
  color: white;
}
.designers {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 5px;
}
