<div id="display-container" class="mat-elevation-z4">
  <div class="header">
    <div class="number-of-count">
      <span class="number-of-question">
        {{ currentQuestionIndex+1 }} of {{ amountOfQuestions+1 }} questions
      </span>
    </div>
    <div class="timer-div">
      <fa-icon [icon]="faClock" class="timer-icon"></fa-icon>
      <span class="time-left">{{ getFormattedTime() }}</span>
    </div>
  </div>
  <div class="question-description">
    <span>{{ quiz.questionList[currentQuestionIndex].description }}</span>
    <div class="question-options">
      <div *ngIf="quiz.questionList[currentQuestionIndex].type == 'multiple' else orElse">
        <div *ngFor="let answer of quiz.questionList[currentQuestionIndex].answers; let i = index;">
          <mat-checkbox [(ngModel)]="selectedAnswers[i]">{{answer[0]}}</mat-checkbox>
        </div>
      </div>
      <ng-template #orElse>
        <mat-radio-group>
          <div *ngFor="let answer of quiz.questionList[currentQuestionIndex].answers; let i = index">
            <mat-radio-button
              [checked]="false"
              (click)="selectedAnswers = Array(this.quiz.questionList[this.currentQuestionIndex].answers.length).fill(false); selectedAnswers[i]=true;">
              {{answer[0]}}
            </mat-radio-button>
            <mat-radio-button style="position: absolute;left: -1000px" [value]=null></mat-radio-button>
          </div>
        </mat-radio-group>
      </ng-template>
    </div>
  </div>
  <ng-container
    *ngIf="currentQuestionIndex < amountOfQuestions; else noMoreQuestions"
  >
    <div id="container">
      <button mat-raised-button color="accent" id="next-button" (click)="onNextQuestionClick()">Next</button>
    </div>
  </ng-container>
  <ng-template #noMoreQuestions>
    <div>
      <button mat-raised-button color="warn" id="submit-button" [routerLink]="['/test-result']" (click)="onSubmit()">Submit</button>
    </div>
  </ng-template>
</div>
