<div class="flexCont">
  <div class="mat-elevation-z4 formCont">

    <form class="studentForm" [formGroup]="form">

      <h2>Quisofka</h2>
      <h3>Enter questionary code sent to your email</h3>
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Put the test code</mat-label>
        <input id="codeInput" matInput placeholder="AAAA-1234" formControlName="code">
        <mat-error *ngIf="form.get('code')?.hasError('required')">
          Code is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
      <span style="color: darkslategrey"><br>If you don't have a code click here: <button mat-button color="accent" [routerLink]="['/get-code']">request code</button></span>
      <swal
        #confirmRejectSwal
        [title]=swalTitle
        [text]=swalText
        [icon]=swalIcon
        [showConfirmButton]=swalConfirm
        [showCloseButton]="true"
        [focusCancel]="true"
        (confirm)="goToStartTest()"
        confirmButtonText="Ok"
      >
      </swal>
    </form>

  </div>

</div>
