<body>
  <div class="faq">
    <div class="question">What happens if I lose the test?</div>
    <div class="answer">
      You will receive instructions from your coach about it.
    </div>

    <div class="question">What is the minimum score to pass the test?</div>
    <div class="answer">You need at least 26 points to approve the test.</div>

    <div class="question">
      How much time do I have to do the test once I receive the code?
    </div>
    <div class="answer">
      You have 24 hours to do the test once you receive the code.
    </div>

    <div class="question">
      What can I do if I have problems receiving the code?
    </div>
    <div class="answer">
      You can go to the "Contact us" section and send us a message explaining
      your problem, and we will contact you as soon as possible.
    </div>
  </div>
</body>
